h2, main p{
  background-color: rgb(214, 214, 214);
  margin: 0px;
}

.bts1{
  display: grid;
  row-gap: 50px;

  padding-top: 80px;
  width: 90%;
  margin: 0px auto 50px auto;


}


.btsDiv1{
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 20px;
}

.btsDiv1 div{
  display: grid;
  row-gap: 2%;
  grid-template-rows: 15% 83%;
}
.btsDiv2{
  display: grid;
  height: 300px;
  grid-template-columns: 1fr 300px;
  column-gap: 20px;
}

.btsDiv2 div{
  display: grid;
  row-gap: 2%;
  grid-template-rows: 15% 83%;
}

.bts1 img{

  height: 300px;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  margin: auto;

}

@media screen and (max-width: 768px) {
  .btsDiv1{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px; 
    column-gap: 0px;
    
}

.btsDiv1 div, .btsDiv2 div{
  aspect-ratio: 16/9;
  height: 300px;
  margin: auto;
}

.bts1 img{
  width: auto;
  aspect-ratio: 16/9;
}

.btsDiv2{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: auto;
  row-gap: 10px; 
}

.btsDiv2 div{
  order: 2;
}

.bts2 div{
  aspect-ratio: 16/9;
  height: 300px;
  margin: auto;
}

}


.bts2{
  display: grid;
  grid-template-columns: auto 1fr;

  height: 300px;
  width: 90%;
  margin: 0px auto 50px auto;
  column-gap: 20px;

}

.carousel{
  background-color: gray;
  height: 300px;
  aspect-ratio: 16/9;
  object-fit: cover;
  margin: auto;

}


.bts2 div{
  display: grid;
  row-gap: 2%;
  grid-template-rows: 15% 83%;
}

@media screen and (max-width: 1150px) {
  .bts2{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    row-gap: 10px;
  }
}

.bts3{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  row-gap: 10px;
  width: 90%;
  margin: auto;
}

iframe{
  width: 100%;
  aspect-ratio: 10/4.18
}

@media screen and (max-width: 610px) {
  .bts1,.bts2,.bts3{
    width: 100%;
  }
  img,.carousel{
    width: 100%;
  }
}