h2, main p{
  background-color: rgb(214, 214, 214);
  margin: 0px;
}

.bts1{
  display: grid;
  row-gap: 50px;

  padding-top: 80px;
  width: 90%;
  margin: 0px auto 50px auto;


}

.btsDiv1{
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
}

.btsDiv1 div{
  display: grid;
  row-gap: 2%;
  grid-template-rows: 15% 83%;
}
.btsDiv2{
  display: grid;
  height: 300px;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
}

.btsDiv2 div{
  display: grid;
  row-gap: 2%;
  grid-template-rows: 15% 83%;
}

.bts1 img{

  height: 300px;
  aspect-ratio: 16/9;
  object-fit: cover;

}



.bts2{
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 300px;
  width: 90%;
  margin: 0px auto 50px auto;
  column-gap: 20px;

}

.carousel{
  background-color: gray;
  width: auto;
  height: 300px;
  object-fit: cover;

  aspect-ratio: 16/9;

}


.bts2 div{
  display: grid;
  row-gap: 2%;
  grid-template-rows: 15% 83%;
}

.bts3{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  row-gap: 10px;
  width: 90%;
  margin: auto;
}

iframe{
  width: 100%;
  aspect-ratio: 10/4.18
}